/*==========================================================================================
								Primery Theme Colors										
==========================================================================================*/
/*=============================================
			Theme Text Color
=============================================*/
a,
p a,
p a:hover,
a:hover,
a:focus,
a:active,
.at-stars span:after,
.at-slidercontent h1 em,
.at-linklist li a:hover,
.at-courseinfo li em


{ color: #f94a33;}
/*=============================================
			Theme Background Color
=============================================*/
.at-btn:hover,
.at-btn:active,
.navbar-toggle,
.at-sectionheading h2:after,
.at-sectionheading h2:before,
.at-navigation ul li a,
.nav-tabs.at-navtabs li.active a,
.nav-tabs.at-navtabs li.active a:focus,
.nav-tabs.at-navtabs li.active a:hover,
.nav-tabs.at-navtabs li a:hover,
.at-btn.at-btnreadmore,
.at-homeslider .owl-nav button.owl-next,
.at-homeslider .owl-nav button.owl-prev,
.at-enrollbtn,
.at-upcomingcousesholder .at-coursebox:hover .at-coursebtn,
.at-candidateproject li span:before


{ background:#f94a33; }
/*=============================================
			Theme Border Color
=============================================*/
input:focus,
.at-btn:hover,
.at-btn:active,
.select select:focus,
.form-control:focus,
.at-enrollbtn,
.at-upcomingcousesholder .at-coursebox:hover .at-coursebtn


{ border-color: #f94a33; }