/*
 @Author: Company Name
 @URL: http://companyname.com
 This file contains the styling for the actual theme, this
 is the file you need to edit to change the look of the
 theme.
 However we used Less script to make things easy to maintain, this is the compressed ourput, we recommend to edit the less files and then recombile the files and add the result here, if you don't like to use less you can edit this file here.

 This files contents are outlined below.
 01.	Theme Reset Style
 02.	Global Elements
 03.	Menu
 04.	Social
 05.	Article
 06.	Posts
 07.	Responsive
 08.	Widgets
 09.	Flexslider
 10.	Grid
*/

/* =============================================
			Theme Reset Style
============================================= */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Oswald:300,400,500,600,700');
* {
	margin: 0px;
	padding: 0px;
}
body {
	color: #303236;
	background: #fff;
	font:400 14px/30px 'Montserrat', Arial, Helvetica, sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	color: #303236;
	margin: 0 0 8px;
	font-weight: 400;
	line-height: 1.5;
	font-style: normal;
	text-transform:uppercase;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
h1 { font-size: 48px;}
h2 { font-size: 36px;}
h3 { font-size: 24px;}
h4 { font-size: 18px;}
h5 { font-size: 16px;}
h6 { font-size: 14px;}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: #0f0f0f;}
p a,
p a:hover { text-decoration:underline; }
p {
	margin: 0 0 20px;
	line-height: 20px;
	letter-spacing: normal;
}
a { text-decoration: none; }
a:hover, a:focus, a:active {
	outline: none;
	text-decoration: none;
}
ul { margin: 0; }
figure {
	margin-bottom: 6px;
	position: relative;
}
img {
	height: auto;
	max-width: 100%;
}
strong { color: #414141; }
iframe {
	width: 100%;
	float: left;
	border: none;
}
.wp-caption,
.wp-caption-text,
.gallery-caption,
.bypostauthor {}
.wp-caption.alignleft,
.wp-caption.alignnone { width: 100%; }
button { border: none; }
textarea,
select,
.at-select select,
.form-control,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	color: #666;
	outline: none;
	height: 40px;
	background:#fff;
	font-size: 14px;
	-webkit-box-shadow: none;
			box-shadow: none;
	line-height: 18px;
	padding: 10px 20px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #dbdbdb;
	text-transform: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
textarea.form-control{
	resize: none;
	height: 210px;
}
.form-control::-webkit-input-placeholder { color: #666; } /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #666; } /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #666; } /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #666; } /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color:#66; } /* Microsoft Edge */
input:focus,
.select select:focus,
.form-control:focus {
	color: #666;
	border-color: #666;
	-webkit-box-shadow:none !important;
			box-shadow:none !important;
}
.form-group {
	width: 100%;
	float: left;
	margin:0 0 20px;
}
label {
	color: #666;
	display: block;
	font-weight: 400;
	margin-bottom: 10px;
}
form p {
	float: left;
	position: relative;
	width: 100%;
}
form p span i {
	top: 13px;
	left: 16px;
	color: #474747;
	position: absolute;
}
option { padding: 5px 15px; }
li {
	line-height: 28px;
	list-style: disc inside none;
}
ul ul { margin-left: 20px; }
ol {
	float: none;
	list-style: decimal;
	padding-left: 15px;
}
ol ol { margin-left: 20px; }
ol li {
	list-style: decimal;
	width: 100%;
}
table {
	background-color: transparent;
	max-width: 100%;
}
th { text-align: left; }
table {
	width: 100%;
	margin-bottom: 15px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border-top: 1px solid #dbdbdb;
	border: 1px solid #dbdbdb;
	line-height: 2.5;
	padding-left: 3px;
	text-align: center;
	vertical-align: top;
}
table thead tr th {
	border-top: 1px solid #dbdbdb;
	text-align: center;
	text-transform: capitalize;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td { border-top: 1px solid #dbdbdb; }
table > thead > tr > th {
	border-bottom: 2px solid #dbdbdb;
	vertical-align: bottom;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td { border-bottom: 0; }
table > tbody + tbody { border-top: 2px solid #dbdbdb; }
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td { padding: 6px 10px; }
p ins { color: #666; }
dl dd { margin-left: 20px; }
address { font-style: italic; }
/* =============================================
			Theme Custom Select
============================================= */
.at-select {
	color:#666;
	float:left;
	width: 100%;
	position: relative;
	text-transform:uppercase;
}
.at-select:after {
	top: 0;
	right: 15px;
	z-index: 1;
	color: #666;
	display: block;
	content: '\f107';
	position: absolute;
	text-align: center;
	font-size: inherit;
	line-height: 40px;
    pointer-events: none;
	font-family: 'FontAwesome';
}
.at-select select {
	z-index: 1;
	width: 100%;
	position: relative;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.at-select select option { color:#666; }
/* =============================================
		Theme Custom CheckBox Radio
============================================= */
.at-radio,
.at-radio label,
.at-checkbox,
.at-checkbox label {
	margin:0;
	width: 100%;
	float: left;
	position: relative;
}
.at-radio label,
.at-checkbox label {
	cursor:pointer;
	display:block;
	padding:0 0 0 20px;
}
.at-radio input[type=radio],
.at-checkbox input[type=checkbox] { display:none; }
.at-radio input[type=radio] + label:before,
.at-checkbox input[type=checkbox] + label:before {
	top: 4px;
	left: 0;
	color: #373542;
	font-size: 14px;
	line-height: 14px;
	content: '\f096';
	position: absolute;
	font-family: 'FontAwesome';
}
.at-radio input[type=radio] + label:before { content:'';}
.at-radio input[type=radio]:checked + label:before,
.at-checkbox input[type=checkbox]:checked + label:before {content:'\f046';}
/* =============================================
			Theme Socialicons Style
============================================= */
.at-socialicons {
	overflow: hidden;
	list-style: none;
	text-align:center;
	line-height: 34px;
}
.at-socialicons li {
	float: left;
	padding: 0 4px;
	line-height: inherit;
	list-style-type: none;
}
.at-socialicons li a {
	width: 34px;
	height: 34px;
	color: #fff;
	display:block;
	background:#000;
	overflow:hidden;
	font-size: 13px;
	line-height: 34px;
	position:relative;
	text-align: center;
	border-radius: 34px;
	text-transform:capitalize;
}
.at-inputwithicon.at-facebook .at-icon,
.at-checkbox.at-facebook,
li.at-facebook a { background:#3b5999; }
.at-inputwithicon.at-twitter .at-icon,
.at-checkbox.at-twitter,
li.at-twitter a { background:#55acee; }
.at-inputwithicon.at-linkedin .at-icon,
.at-checkbox.at-linkedin,
li.at-linkedin a { background:#0077B5; }
.at-inputwithicon.at-skype .at-icon,
.at-checkbox.at-skype,
li.at-skype a { background:#00aff0; }
.at-checkbox.at-dropbox,
li.at-dropbox a { background:#007ee5; }
.at-checkbox.at-vimeo,
li.at-vimeo a { background:#1ab7ea; }
.at-checkbox.at-tumblr,
li.at-tumblr a { background:#34465d; }
.at-checkbox.at-yahoo,
li.at-yahoo a { background:#410093; }
.at-inputwithicon.at-googleplus .at-icon,
.at-checkbox.at-googleplus,
li.at-googleplus a { background:#dd4b39; }
.at-inputwithicon.at-pinterestp .at-icon,
.at-checkbox.at-pinterestp,
li.at-pinterestp a { background:#bd081c; }
.at-checkbox.at-youtube,
li.at-youtube a { background:#cd201f; }
.at-checkbox.at-stumbleupon,
li.at-stumbleupon a { background:#eb4924; }
.at-checkbox.at-reddit,
li.at-reddit a { background:#ff5700; }
.at-checkbox.at-quora,
li.at-quora a { background:#b92b27; }
.at-checkbox.at-yelp,
li.at-yelp a { background:#af0606; }
.at-checkbox.at-soundcloud,
li.at-soundcloud a { background:#ff3300; }
.at-checkbox.at-whatsapp,
li.at-whatsapp a { background:#25d366; }
.at-checkbox.at-wechat,
li.at-wechat a { background:#09b83e; }
.at-checkbox.at-instagram,
li.at-instagram a { background:#e4405f; }
.at-checkbox.at-dribbble,
li.at-dribbble a { background:#ea4c89; }
.at-checkbox.at-flickr,
li.at-flickr a { background:#ff0084; }
.at-checkbox.at-rss,
li.at-rss a { background:#ff6600; }
.at-socialiconsborder li.at-facebook a {
	color: #3b5999;
	border: 1px solid #3b5999;
}
.at-socialiconsborder li.at-twitter a {
	color: #55acee;
	border: 1px solid #55acee;
}
.at-socialiconsborder li.at-linkedin a {
	color: #0077B5;
	border: 1px solid #0077B5;
}
.at-socialiconsborder li.at-skype a {
	color: #00aff0;
	border: 1px solid #00aff0;
}
.at-socialiconsborder li.at-dropbox a {
	color: #007ee5;
	border: 1px solid #007ee5;
}
.at-socialiconsborder li.at-vimeo a {
	color: #1ab7ea;
	border: 1px solid #1ab7ea;
}
.at-socialiconsborder li.at-tumblr a {
	color: #34465d;
	border: 1px solid #34465d;
}
.at-socialiconsborder li.at-yahoo a {
	color: #410093;
	border: 1px solid #410093;
}
.at-socialiconsborder li.at-googleplus a {
	color: #dd4b39;
	border: 1px solid #dd4b39;
}
.at-socialiconsborder li.at-pinterestp a {
	color: #bd081c;
	border: 1px solid #bd081c;
}
.at-socialiconsborder li.at-youtube a {
	color: #cd201f;
	border: 1px solid #cd201f;
}
.at-socialiconsborder li.at-stumbleupon a {
	color: #eb4924;
	border: 1px solid #eb4924;
}
.at-socialiconsborder li.at-reddit a {
	color: #ff5700;
	border: 1px solid #ff5700;
}
.at-socialiconsborder li.at-quora a {
	color: #b92b27;
	border: 1px solid #b92b27;
}
.at-socialiconsborder li.at-yelp a {
	color: #af0606;
	border: 1px solid #af0606;
}
.at-socialiconsborder li.at-soundcloud a {
	color: #ff3300;
	border: 1px solid #ff3300;
}
.at-socialiconsborder li.at-whatsapp a {
	color: #25d366;
	border: 1px solid #25d366;
}
.at-socialiconsborder li.at-wechat a {
	color: #09b83e;
	border: 1px solid #09b83e;
}
.at-socialiconsborder li.at-instagram a {
	color: #e4405f;
	border: 1px solid #e4405f;
}
.at-socialiconsborder li.at-dribbble a {
	color: #ea4c89;
	border: 1px solid #ea4c89;
}
.at-socialiconsborder li.at-flickr a {
	color: #ff0084;
	border: 1px solid #ff0084;
}
.at-socialiconsborder li.at-rss a {
	color: #ff6600;
	border: 1px solid #ff6600;
}
.at-socialiconsborder li a{
	background: none;
	line-height: 32px;
}
.at-socialiconsborder li.at-facebook a i{ color: #3b5999; }
.at-socialiconsborder li.at-twitter a i{ color: #55acee; }
.at-socialiconsborder li.at-linkedin a i{ color: #0077B5; }
.at-socialiconsborder li.at-skype a i{ color: #00aff0; }
.at-socialiconsborder li.at-dropbox a i{ color: #007ee5; }
.at-socialiconsborder li.at-vimeo a i{ color: #1ab7ea; }
.at-socialiconsborder li.at-tumblr a i{ color: #34465d; }
.at-socialiconsborder li.at-yahoo a i{ color: #410093; }
.at-socialiconsborder li.at-googleplus a i{ color: #dd4b39; }
.at-socialiconsborder li.at-pinterestp a i{ color: #bd081c; }
.at-socialiconsborder li.at-youtube a i{ color: #cd201f; }
.at-socialiconsborder li.at-stumbleupon a i{ color: #eb4924; }
.at-socialiconsborder li.at-reddit a i{ color: #ff5700; }
.at-socialiconsborder li.at-quora a i{ color: #b92b27; }
.at-socialiconsborder li.at-yelp a i{ color: #af0606; }
.at-socialiconsborder li.at-soundcloud a i{ color: #ff3300; }
.at-socialiconsborder li.at-whatsapp a i{ color: #25d366; }
.at-socialiconsborder li.at-wechat a i{ color: #09b83e; }
.at-socialiconsborder li.at-instagram a i{ color: #e4405f; }
.at-socialiconsborder li.at-dribbble a i{ color: #ea4c89; }
.at-socialiconsborder li.at-flickr a i{ color: #ff0084; }
.at-socialiconsborder li.at-rss a i{ color: #ff6600; }
.at-socialicons li a i {
	color: #fff;
	display:block;
	text-align:center;
	font-size: inherit;
	line-height: inherit;
}
.at-socialsharewithtext li a i{width: 34px;}
.at-socialicons li a:hover { color: #fff; }
.at-roundicontext .at-usericonholder {
	width: 250px;
	display: block;
	overflow: hidden;
	font-style: normal;
}
.at-roundicontext i,
.at-roundicontext span {
	float:left;
	font-size: inherit;
	line-height: inherit;
}
.at-roundicontext span { padding: 0 15px 0 0; }
.at-roundicontext:focus,
.at-roundicontext:hover {
	color: #fff;
	width: 100%;
}
.at-roundicontext:hover .at-usericonholder { width: 100%;}
/* =============================================
			Theme Pagination Style
============================================= */
.at-pagination {
	width:100%;
	float: left;
	font:14px/24px 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-pagination ul {
	margin:0;
	padding:0;
	float:right;
	list-style:none;
	text-align: center;
	line-height: inherit;
}
.at-pagination ul li {
	float:left;
	margin:0 6px;
	line-height: inherit;
	list-style-type:none;
}
.at-pagination ul li.at-prevpage { margin-left:0; }
.at-pagination ul li.at-nextpage { margin-right:0; }
.at-pagination ul li a{
	width:20px;
	display:block;
	color:#373542;
	text-align:center;
	position:relative;
	line-height: inherit;
}
.at-pagination ul li.at-nextpage a,
.at-pagination ul li.at-prevpage a {
	width:auto;
	font-size: 20px;
	overflow:hidden;
	position:relative;
}
.at-pagination ul li.at-nextpage a { padding:0 0 0 25px; }
.at-pagination ul li.at-prevpage a { padding:0 25px 0 0; }
.at-pagination ul li.at-nextpage a:after,
.at-pagination ul li.at-prevpage a:after {
	top:50%;
	opacity:0;
	content:'';
	width:15px;
	height:1px;
	background:#373542;
	position:absolute;
	visibility:hidden;
}
.at-pagination ul li.at-nextpage a:after { right:50px; }
.at-pagination ul li.at-prevpage a:after { left:50px; }
.at-pagination ul li.at-nextpage a:hover:after,
.at-pagination ul li.at-prevpage a:hover:after {
	opacity:1;
	visibility:visible;
}
.at-pagination ul li.at-nextpage a:hover:after { right:2px; }
.at-pagination ul li.at-prevpage a:hover:after { left:2px; }
/* =============================================
			Theme BreadCrumb Style
============================================= */
.at-breadcrumb {
	margin: 0;
    padding: 0;
    color: #fff;
    list-style: none;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font: 14px/44px 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-breadcrumb li {
	width: auto;
    padding: 0 11px;
    position: relative;
    line-height: inherit;
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
}
.at-breadcrumb li:after {
	top:0;
	left:-3px;
	content:'/';
	position:absolute;
}
.at-breadcrumb li:last-child { padding: 0 0 0 15px;}
.at-breadcrumb li:first-child:after { display: none; }
.at-breadcrumb li a {
	color:#fff;
	display:block;
}
.at-breadcrumb li.at-active a{color: #f94a33;}
/* =============================================
			Theme Global Elements
============================================= */
.at-haslayout {
	width:100%;
	float:left;
}
.at-sectionspace {padding: 50px 0;}
.at-marginbottomzero{margin-bottom: 0;}
.at-locationmap {
	width: 100%;
	float: left;
	height: 500px;
}
.at-btn {
	color: #fff;
	height: 50px;
	padding: 0 45px;
	position:relative;
	text-align:center;
	background: #0097d6;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #0097d6;
	text-transform: uppercase;
	font:600 18px/50px 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-btn:focus,
.at-btn:active,
.at-btn:hover {color:#fff;}
.at-btn:focus{outline: 0;}
.at-btn-sm {
	padding: 0 20px;
	line-height: 30px;
}
.at-btn-lg { width: 100%;}
.at-verticalmiddle {
	margin: 0 -1px;
	float: none !important;
	display: inline-block;
	vertical-align: middle;
}
.at-description {
	width: 100%;
	float: left;
}
.at-bglight { background:#f7f7f7; }
.at-bgdark { background:#373542; }
.at-stars span,
.at-stars {
	width:100px;
	height: 16px;
	float: left;
	line-height:16px;
	position:relative;
}
.at-stars span:after,
.at-stars:before {
	top: 0;
	left: 0;
	font-size: 16px;
	line-height: 16px;
	position: absolute;
	letter-spacing: 4px;
	font-family: 'FontAwesome';
	color: rgba(218, 218, 218, .8);
	content: '\f005 \f005 \f005 \f005 \f005';
}
.at-stars span {
	width:75%;
	overflow: hidden;
}
.at-stars span:after {color:#000;}
.row.no-gutters {
	margin-right: 0;
	margin-left: 0;
}
.no-gutters > [class^="col-"],
.no-gutters > [class*="col-"],
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}
.at-dropdowarrow{
	top: 15px;
	right: 8px;
	color:#fff;
	width:20px;
	height:20px;
	cursor:pointer;
	font-size:16px;
	line-height:20px;
	position:absolute;
	text-align:center;
	-moz-transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
}
.at-dropdowarrow i{
	display: block;
	font-size: inherit;
	line-height: inherit;
}
.at-open .at-dropdowarrow i:before{content: '\f0d8';}
.menu-item-has-children,
.menu-item-has-mega-menu{ position: relative; }
.mega-menu-row{
	width: 100%;
	float: left;
	display: table;
	table-layout: fixed;
}
.mega-menu-col{
	display: table-cell;
	vertical-align: top;
}
.navbar-toggle {
	border: 0;
	margin: 3px 0;
	border-radius: 0;
	padding: 10px 12px;
}
.navbar-toggle .icon-bar{background: #fff;}
.at-formtheme{
	width:100%;
	float:left;
}
.at-formtheme fieldset{
	border:0;
	margin:0;
	padding:0;
	width:100%;
	float:left;
	position:relative;
}
.at-inputwithicon{position:relative;}
.at-inputwithicon i{
	top:0;
	right:0;
	z-index:2;
	width:40px;
	height:40px;
	line-height:40px;
	position:absolute;
	text-align: center;
}
.at-inputwithicon .form-control{
	z-index:1;
	position:relative;
}
.at-skewstyle{
	-moz-transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	transform: skew(-20deg);
}
.at-skewstyle span{
	display: block;
	-moz-transform: skew(20deg);
	-webkit-transform: skew(20deg);
	-o-transform: skew(20deg);
	-ms-transform: skew(20deg);
	transform: skew(20deg);
}
.at-sectionheading{
	float: left;
	width: 100%;
	margin: 0 0 50px;
	text-align: center;
}
.at-sectionheading h2{
	margin: 0;
	color: #303236;
	font-size: 36px;
	font-weight: 600;
	line-height: 39px;
	padding: 0 0 25px;
	position: relative;
	text-transform: uppercase;
}
.at-sectionheading h2:after{
	left: 50%;
	bottom: 0;
	content: '';
	height: 5px;
	width: 80px;
	position: absolute;
	-moz-transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-o-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);
}
/*==========================================================================================
		For Mobile Nav use this code in Responsive.css desired Query
==========================================================================================*/
/*
.navbar-toggle{display: block;}
.navbar-collapse.collapse {display: none!important;}
.collapse.in{display:block !important;}
*/
/*==========================================================================================
			For Mobile Nav use this code in Responsive.css desired Query
==========================================================================================*/
/* =============================================
			Theme Styling
============================================= */
.at-home {}
.at-wrapper {overflow: hidden;}
.at-main {}
.at-footer {}
/* =============================================
			Header Style
============================================= */
.at-header {
	z-index: 10;
	position: absolute;
}
.at-navigationarea{
	float: left;
	width: 100%;
	padding: 30px;
}
.at-navigationarea .at-logo{
	margin: 0;
	width: auto;
}
.at-btn.at-contactbtn {
	top: 30px;
	z-index: 5;
	right: 30px;
	font-size: 18px;
	font-weight: 400;
	position: absolute;
	text-transform: capitalize;
}
.at-btn.at-contactbtn span{
	font-size: 18px;
	text-transform: capitalize;
}
.at-nav{
	width:  100%;
	margin: 0 auto;
	max-width: 1135px;
	text-transform: capitalize;
	font: 400 14px/20px 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-nav:after{
	clear: both;
	content: '';
	display: block;
}
.at-closebtn{display: none;}
.at-navigation{
	padding: 0;
	width: 100%;
	float: left;
}
.at-navigation ul{
	list-style: none;
	line-height: inherit;
}
.at-navigation > ul{
	width: 100%;
	float: left;
	list-style: none;
	text-align: center;
	line-height: inherit;
}
.at-navigation ul li{
	line-height: inherit;
	list-style-type: none;
}
.at-navigation > ul > li{
	width: auto;
	float: left;
	-moz-transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
}
.at-navigation ul li:nth-last-child(2) .sub-menu{left: 80px;}
.at-navigation ul li a{
	color: #fff;
	display: block;
	padding: 15px 30px 15px 20px;
}
.at-navigation > ul > li > a > span{
	display: block;
	-moz-transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
}
.at-navigation > ul > li.active > a,
.at-navigation > ul > li > a:hover{
	color: #fff;
	background: #11131f;
}
.sub-menu{
    margin: 0;
    top: 50px;
    left: 30px;
    opacity: 0;
    width: 210px;
    visibility: hidden;
    position: absolute;
    background: #11131f;
    -moz-transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -o-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
}
.at-navigation ul li .sub-menu li,
.at-navigation ul li .sub-menu li a span{transform: skew(0) !important;}
.at-navigation ul li:hover .sub-menu {
    top: 100%;
    opacity: 1;
    visibility: visible
}
.at-navigation ul.sub-menu li a {
	text-align: left;
	padding: 20px 25px;
	background: #11131f;
	word-break: break-all;
}
.at-navigation ul.sub-menu li:first-child a {border: 0}
.at-navigation ul.sub-menu li a:after {
    height: 0;
    width: 3px
}
.at-navigation ul.sub-menu li a:hover,
.at-navigation ul li a:hover .at-dropdowarrow,
.at-navigation ul.sub-menu:hover li .at-dropdowarrow{background: #252837;}
.at-navigation ul.sub-menu li a:hover:after {height: 100%;}



/* =============================================
			slider Style
============================================= */
.at-homeslider{position: relative;}
.at-homeslider:after{
    left: 10px;
    z-index: 3;
    width: 100%;
    content: '';
    height: 200px;
    bottom: -135px;
    background: #fff;
    position: absolute;
    transform: rotate(-3.3deg);
}
.item{
	float: left;
	width: 100%;
}
.at-sliderimage{
	margin: 0;
	float: left;
	width: 100%;
	z-index: 1;
	position: relative;
}

.at-slidercontent{
	top: 0;
	left: 0;
	z-index: 2;
	float: left;
	width: 100%;
	text-align: center;
	position: absolute;
	padding: 260px 0 400px;
	/*padding: 220px 0 350px;*/
}
.at-slidercontent:after{
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.6);
}
.at-logo{
	float: left;
	width: 100%;
	margin: 0 0 50px;
}
.at-logo a{
	width: 125px;
	height: 125px;
	display: block;
	margin: 0 auto;
}
.at-logo a img{
	display: block;
	margin: 0 auto;
}
.at-slidercontent h1{
	color: #fff;
	font-size: 80px;
	margin: 0 0 25px;
	font-weight: 500;
	line-height: 75px;
	font-style: italic;
	text-transform: uppercase;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
}
.at-bannertext{
	color: #fff;
	display: block;
	font-size: 36px;
	font-weight: 300;
	line-height: 45px;
	text-transform: capitalize;
	font-family: 'Oswald', Arial, Helvetica, sans-serif;
}
.at-homeslider .owl-nav button.owl-next,
.at-homeslider .owl-nav button.owl-prev{
	top: 75%;
	border: 0;
	color: #fff;
	right: 110px;
	height: 40px;
	outline: none;
	font-size: 30px;
	border-radius: 0;
	line-height: 40px;
	position: absolute;
	padding: 0 15px !important;
	-moz-transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	-ms-transform: skew(-20deg);
	transform: skew(-20deg);
}
.at-homeslider .owl-nav button.owl-next span,
.at-homeslider .owl-nav button.owl-prev span{
	display: block;
	-moz-transform: skew(20deg);
	-webkit-transform: skew(20deg);
	-o-transform: skew(20deg);
	-ms-transform: skew(20deg);
	transform: skew(20deg);
}
.at-homeslider .owl-nav button.owl-next:hover,
.at-homeslider .owl-nav button.owl-prev:hover{
	border: 0;
	background: #11131f;
}
.at-homeslider .owl-nav button.owl-prev{right: 160px;}
/* ===========================================================================
								main Style
=========================================================================== */
.at-main{
    z-index: 3;
	position: relative;
}
/* =============================================
			Counter Style
============================================= */
.at-counter{
	padding: 0 0 50px;
	margin: -150px 0 0;
}
.at-counters{
	float: left;
	width: 100%;
}
.at-counterbox{
    float: left;
    width: 100%;
    padding: 45px 0;
    background: #fff;
    text-align: center;
    -webkit-box-shadow: 1px 1px 24px 5px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 24px 5px rgba(0,0,0,0.2);
}
.at-counterbox h3{
	color: #2a2c30;
	font-size: 16px;
	margin: 0 0 15px;
	font-weight: 400;
	line-height: 19px;
	text-transform: uppercase;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-counterbox strong{
	color: #2a2c30;
	display: block;
	font-size: 36px;
	font-weight: 700;
	line-height: 39px;
}
/* =============================================
			Our Mission Style
============================================= */
.at-ourmission{
    position: relative;
    padding: 20px 0 80px;
    background: url("../images/ourmission-bgimg.png") no-repeat;
	background-position: 80% 0;
}
.at-ourmissioncontent{
	float: left;
	width: 100%;
	padding: 130px 0 0;
}
.at-ourmissioncontent .at-sectionheading{text-align: left;}
.at-ourmissioncontent .at-sectionheading h2:after{
	left: 0;
	transform: translate(0);
}
.at-ourmission-img{
	left: 0;
	margin: 0;
	top: 120px;
    float: left;
    width: 100%;
    position: absolute;
}
.at-ourmission-img img{display: block;}
.at-ourmissioncontent .at-description p{
	color: #303236;
	font-size: 14px;
	font-weight: 400;
	line-height: 30px;
}
/* =============================================
			Courses Style
============================================= */
.at-courses{
    padding: 100px 0 60px;
    background: url("../images/coursesbg-img.jpg") no-repeat;
    background-size: cover;
}
.at-courses .at-sectionheading{text-align: left;}
.at-courses .at-sectionheading h2{
    padding: 0;
    color: #fff;
}
.at-courses .at-sectionheading h2:after{background: none;}
.at-coursebox{
    float: left;
    width: 100%;
    overflow: hidden;
}
.at-courseimg{
    margin: 0;
    float: left;
    width: 100%;
    height: 216px;
}
.at-courseimg a{display: block;}
.at-courseimg img{
    width: 100%;
	height: 100%;
    display: block;
}
.at-coursecontent{
    float: left;
    width: 100%;
    padding: 0 35px;
    background: #fff;
	min-height: 230px;
	text-align: center;
	position: relative;
}
.at-coursecontent .at-coursebtn{margin: -25px 0 30px;}
.at-coursecontent .at-description p{
    margin: 0;
    color: #303236;
    font-size: 14px;
    line-height: 24px;
}
.at-readmorebtn{
    right: 0;
    bottom: 0;
    color: #fff;
    float: right;
    font-size: 25px;
    position: absolute;
    text-align: center;
    border-bottom: 80px solid #353535;
    border-left: 80px solid transparent;
}
.at-readmorebtn i{
    top: 45px;
    left: -38px;
    position: absolute;
}
.at-readmorebtn:hover{
    color: #fff;
    border-bottom: 80px solid #f94a33;
    border-left: 80px solid transparent;
}
/* =============================================
			Gallery Style
============================================= */
.at-gallery{padding: 70px 0;}
.at-galleryarea{
    float: left;
    width: 100%;
}
.nav-tabs.at-navtabs{
    border: 0;
    float: left;
    width: 100%;
    margin: 0 0 40px;
    text-align: center;
}
.nav-tabs.at-navtabs li{
    margin: 0;
    float: none;
    display: inline-block;
    vertical-align: middle;
}
.nav-tabs.at-navtabs li a {
    border: 0;
    color: #303236;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0;
    line-height: 17px;
    padding: 20px 50px;
    margin-right: 15px;
    background: #ececed;
    text-transform: uppercase;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.nav-tabs.at-navtabs li.active a,
.nav-tabs.at-navtabs li.active a:focus,
.nav-tabs.at-navtabs li.active a:hover,
.nav-tabs.at-navtabs li a:hover{
    border: 0;
    color: #fff;
}
.at-tabcontent,
.at-tabcontent .tab-pane{
    float: left;
	width: 100%;
}
.at-gallerycontentholder{
	width: 100%;
	float: left;
	position: relative;
	padding: 0 0 0 480px;
}
.at-gallerycontent{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    max-width: 480px;
	text-align: center;
	position: absolute;
	padding: 185px 60px 129px;
    background: #0097d6 url("../images/gallerytbg-img.png") no-repeat;
    background-position: top center;
}
.at-gallerycontent h3{
    color: #fff;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 30px;
    line-height: 50px;
    text-transform: capitalize;
}
.at-gallerycontent .at-description p{
    color: #fff;
    font-size: 18px;
    margin: 0 0 40px;
    font-weight: 300;
    line-height: 30px;
}
.at-btnreadmore{font-size: 25px;}
.at-galleryimages{
    width: 100%;
    float: left;
}
.at-galleryimagebox{
    float: left;
    width: 33.33%;
}
.at-galleryimg{
    margin: 0;
    float: left;
    width: 100%;
}
.at-galleryimg img{
	width: 100%;
	display: block;
}
/* =============================================
			Contact Style
============================================= */
.at-sectionhead{
	float: left;
	width: 100%;
}
.at-contantarea{
	float: left;
	width: 100%;
	padding: 100px 0;
	background: url("../images/contactbg-img.jpg") no-repeat;
	background-size: cover;
}
.at-contantbox{
	float: left;
	width: 100%;
	padding: 0 40px;
	background: #fff;
}
.border-left{border-left: 1px solid #e8e8e9;}
.at-contactform{padding: 60px 0;}
.at-contactform .form-control{
	border: 0;
	color: #303236;
	border-radius: 0;
	font-weight: 600;
	padding: 10px 20px 10px 0;
	border-bottom: 1px solid #d5d5db;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-contactform button{float: right;}
.at-map{
	margin: 0;
	float: left;
	width: 100%;
	position: relative;
	padding: 30px 0 0 40px;
}
.at-map h3.at-mapheading{
	bottom:0;
	right: 0;
	opacity: 0.50;
	color: #303236;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	position: absolute;
	text-transform: uppercase;
}
.at-map h3.at-mapheading span{display: block;}
.at-mapmarker{
	top: 0;
	left: 0;
	float: left;
	width: 100%;
	height: 100%;
	position: absolute;
}
.at-tooltip {
	border: 0;
	top: 59px;
	left: 381px;
	width: 33px;
	height: 33px;
	background: #fff;
	position: absolute;
	border-radius: 50%;
	text-align: center;
}
.at-tooltip i{
	color: #0097d6;
	font-size: 11px;
}
.at-tooltip .at-top {
	left:50%;
	top:-10px;
	color:#444;
	display:none;
	font-size:13px;
	min-width:200px;
	z-index:99999999;
	padding:10px 20px;
	position:absolute;
	border-radius:8px;
	font-weight:normal;
	box-sizing:border-box;
	background-color:#EEE;
	box-shadow:0 1px 8px rgba(0,0,0,0.5);
	transform:translate(-50%, -100%);
}
.at-tooltip:hover .at-top {display:block;}
.at-tooltip .at-top i {
	top:100%;
	left:50%;
	width:24px;
	height:12px;
	overflow:hidden;
	margin-left:-12px;
	position:absolute;
}
.at-tooltip .at-top i::after {
	left:50%;
	width:12px;
	content:'';
	height:12px;
	position:absolute;
	background-color:#EEE;
	transform:translate(-50%,-50%) rotate(45deg);
	box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.at-top h3{
	opacity: 0.50;
	font-size: 16px;
	font-weight: 600;
}
.at-top p{
	font-size: 12px;
	font-weight: 300;
}
.at-tooltip2{
	top: 177px;
	left: 395px;
}
.at-tooltip3{
	top: 205px;
	left: 215px;
}
.at-tooltip4{
	top: 232px;
	left: 305px;
}
.at-tooltip5{
	top: 245px;
	left: 280px;
}
.at-tooltip6{
	top: 365px;
	left: 127px;
}
/* =============================================
			Contact Style
============================================= */
.at-footer{background: #1c1c1d;}
.at-mainfooter{
	float: left;
	width: 100%;
	padding: 100px 0;
}
.at-col{
	float: left;
	width: 100%;
}
.at-footerlog{
	margin: 0;
	float: left;
	width: 100%;
}
.at-footerlog img{display: block;}
.at-col .at-sectionheading{
	text-align: left;
	margin: 0 0 17px;
}
.at-col .at-sectionheading h2{
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	padding: 0 0 14px;
	line-height: 21px;
}
.at-col .at-sectionheading h2:after{
	left: 0;
	width: 50px;
	height: 3px;
	transform: translate(0);
}
.at-linklist{
	float: left;
	width: 100%;
	list-style: none;
}
.at-linklist li{
	float: left;
	width: 100%;
	padding: 10px 0;
	list-style-type: none;
}
.at-linklist li a{
	color: #fff;
	opacity: 0.50;
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
}
.at-col .at-description p{
	color: #fff;
	opacity: 0.50;
	font-size: 14px;
	margin: 0 0 20px;
	line-height: 24px;
}
.at-infolist{
	float: left;
	width: 100%;
	list-style: none;
}
.at-infolist li{
	color: #fff;
	width: 100%;
	float: left;
	opacity: 0.50;
	padding: 10px 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	list-style-type: none;
}
.at-infolist li span{
	width: 25%;
	display: inline-block;
	vertical-align: middle;
}
.at-infolist li em{font-style: normal;}

.at-col .at-socialicons{
	float: left;
	width: 100%;
}
.at-col .at-socialicons li{padding: 0 7px;}
.at-col .at-socialicons li a{font-size: 16px;}
.at-footerbar{
	float: left;
	width: 100%;
	background: #1c1c1d;
	border-top: 1px solid #2d2d2f;
}
.at-copyrights{
	color: #fff;
	opacity: 0.30;
	display: block;
	font-size: 14px;
	padding: 30px 0;
	line-height: 17px;
	text-align: center;
	text-transform: capitalize;
}
/* =============================================
			Inner Banner Style
============================================= */
.at-innerbanner{
	background: url("../images/banner-bgimg.jpg") no-repeat;
	background-size: cover;
}
.at-banner-area{
	float: left;
	width: 100%;
}
.at-banner-area .at-slidercontent{
	position: relative;
	padding: 220px 0 175px;
}
.at-homeslider.at-innerbanner:after{
	height: 140px;
	bottom: -85px;
}
/* =============================================
			Galler Page Style
============================================= */
.at-fullgallery .at-galleryimages{
	width: 100%;
	margin: 0 -15px;
}
.at-fullgallery .at-galleryimagebox{padding: 15px;}
.at-fullgallery .at-galleryimg{
	position: relative;
	background: rgba(0,151,214,1.00);
}
.at-btnview {
	top: 50%;
	left: 50%;
	opacity: 0;
	z-index: 2;
	color: #fff;
	width: 40px;
	height: 40px;
	display: block;
	font-size: 25px;
	line-height: 36px;
	border-radius: 50%;
	position: absolute;
	text-align: center;
	visibility: hidden;
	border: 2px solid #fff;
	margin: -20px 0 0 -20px;
}
.at-fullgallery .at-galleryimg:hover img{opacity: 0.40;}
.at-fullgallery .at-galleryimg:hover .at-btnview{
	opacity: 1;
	visibility: visible;
}
.at-btnview:hover{border-color: #f94a33;}
/* =============================================
			Courses Page Style
============================================= */
.at-allcourses{background: #fff;}
.at-coursesarea{
	float: left;
	width: 100%;
}
.at-coursesarea .at-coursebox{margin: 0 0 30px;}
.at-courseform{margin: 0 0 10px;}
.at-courseform fieldset{
	width: auto;
	float: right;
}
.at-courseform label{
	margin: 0;
	color: #303236;
	font-size: 14px;
	line-height: 17px;
	display: inline-block;
	vertical-align: middle;
}
.at-courseform .at-select{
	width: auto;
	float: none;
	display: inline-block;
	vertical-align: middle;
}
.at-courseform .at-select select {width: 230px;}
.at-coursesarea .at-courseimg{
	width: 35%;
	height: 100%;
}
.at-coursesarea .at-coursecontent{
	width: 65%;
	min-height: auto;
	text-align: left;
	position: relative;
	padding: 40px 50px;
	background: #ececec;
}
.at-coursehead{
	float: left;
	width: 100%;
	margin: 0 0 20px;
}
.at-coursehead h2{
	margin: 0;
	color: #303236;
	font-size: 24px;
	font-weight: 600;
	line-height: 27px;
	display: inline-block;
	vertical-align: middle;
	text-transform: capitalize;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-coursehead span{
	float: right;
	color: #303236;
	font-size: 24px;
	font-weight: 300;
	line-height: 27px;
	display: inline-block;
	vertical-align: middle;
}
.at-coursehead span strong{font-weight: 500;}
.at-courseinfo{
	float: left;
	width: 100%;
	list-style: none;
}
.at-courseinfo li{
	float: left;
	width: 100%;
	padding: 8px;
	line-height: 17px;
	list-style-type: none;
}
.at-courseinfo li span,
.at-courseinfo li strong,
.at-courseinfo li address,
.at-courseinfo li em{
	color: #303236;
	font-size: 14px;
	line-height: 17px;
	display: inline-block;
	vertical-align: middle;
}
.at-courseinfo li span {
	width: 20%;
	opacity: 0.60;
}
.at-courseinfo li address{
	margin: 0;
	line-height: 21px;
	font-style: normal;
}
.at-courseinfo li em{font-style: normal;}
.at-enrollbtn{
	right: 60px;
	bottom: 50px;
	position: absolute;
}
/* =============================================
			About Us Page Style
============================================= */
.at-aboutusarea{
	width: 100%;
	float: left;
}
.at-aboutuscontentbox{
	float: left;
	width: 100%;
	padding: 60px 0;
	border-bottom: 1px solid #d7d7d8;
}
.at-aboutuscontentbox .at-ourmission-img {
    position: static;
    background: url(../images/aboutus-bgimg.png) no-repeat;
    background-position: 100% 50%;
}
.at-aboutuscontentbox .at-ourmission-img img{float: right}
.at-aboutuscontentbox .at-ourmission-img img.at-overlay{
    float: left;
    margin: -260px 0 0 80px;
}
.padding-left{padding-left: 20px;}
/* =============================================
			Leadership Style
============================================= */
.at-leadership{padding: 60px 0 100px;}
.at-leadership .at-sectionheading h2{margin: 0 0 30px;}
.at-leadership .at-description p{
    margin: 0;
    line-height: 30px;
}
.at-leadershiparea{
    float: left;
    width: 100%;
}
.at-leadershipbox{
    float: left;
    width: 100%;
}
.at-leadershipbox.at-margintop{margin-top: 80px;}
.at-leaderimg{
	margin: 0;
    float: left;
    width: 100%;
    position: relative;
}
.at-leaderimg:after{
    left: 50%;
    width: 50px;
    content: '';
    height: 3px;
    bottom: auto;
    position: absolute;
    background: #f94a33;
    -moz-transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}
.at-leadercontent{
    float: left;
    width: 100%;
    padding: 25px 0;
    text-align: center;
}
.at-leadercontent h3{
    color: #303236;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px;
    line-height: 23px;
    text-transform: uppercase;
}
.at-leadercontent span{
    color: #303236;
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
}
/* =============================================
			Enroll Modal Style
============================================= */
.at-enrollmodal .modal-content{
	float: left;
	width: 100%;
}
.at-enrollmodal .at-contactform{padding: 30px 20px;}
.at-enrollmodal .at-contactform .radio{
	margin: 0 10px 0 0;
	display: inline-block;
	vertical-align: middle;
}
.at-enrollmodal .at-contactform input[type=radio]{margin: 8px 0 0 -20px;}
.at-enrollmodal .modal-header h2.modal-title{
	margin: 0;
	color: #303236;
	font-size: 24px;
	font-weight: 600;
	line-height: 27px;
	display: inline-block;
	vertical-align: middle;
	text-transform: capitalize;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-enrollmodal button.close{
	opacity: 1;
	outline: none;
	font-size: 25px;
}
/* =============================================
			Apply Online Style
============================================= */
.at-applyonline {
    float: left;
    width: 100%;
    padding: 50px 0;
}
.at-formapplyonline {padding: 60px 0;}
.at-formapplyonline .form-control {
    border: 0;
    color: #303236;
    border-radius: 0;
    font-weight: 600;
    padding: 10px 20px 10px 0;
    border-bottom: 1px solid #d5d5db;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.at-formapplyonline .at-btn {
	float: right;
	padding: 0 25px;
	background: #f94a33 !important;
	border-color: #f94a33 !important;
}
.at-applyonline .at-description p{
	margin: 0;
	color: #303236;
	font-size: 22px;
	line-height: 32px;
}
.at-applyonline .at-description{text-align: center;}
.at-applyonline .at-description p span{display: block;}
/* =============================================
			Program Alumni Style
============================================= */
.at-programalumni{
	float: left;
    width: 100%;
    padding: 80px 0;
}
.at-courseholder{
    clear: both;
    margin: -15px 0;
	overflow: hidden;
}
.at-courseholder .at-coursebox{
    margin: 15px 0;
	-webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,0.13);
	box-shadow: 0 0 13px 0 rgba(0,0,0,0.13);
}
.at-courseholder .at-courseimg {height: auto;}
.at-courseholder .at-coursecontent{
	text-align: left;
    min-height: 165px;
	padding: 40px 20px 30px;
}
.at-coursecontent h2{
	margin: 0;
	color: #303236;
	font-size: 18px;
	font-weight: 600;
	line-height: 18px;
	text-transform: capitalize;
}
.at-coursecontent h2 span{
	display: block;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	padding: 13px 0 0;
	color: rgba(48, 50, 54, 0.60);
}
.at-courseholder .at-readmorebtn{
	border: 0;
	right: 20px;
	bottom: 30px;
	color: #303236;
	font-size: 14px;
	font-weight: 500;
	line-height: 18px;
}
.at-courseholder .at-readmorebtn span{margin: 0 40px 0 0;}
.at-courseholder .at-readmorebtn span,
.at-courseholder .at-readmorebtn i{
	display: inline-block;
	vertical-align: middle;
}
.at-courseholder .at-readmorebtn i {
    top: 0;
    right: 0;
    left: auto;
    font-size: 22px;
    line-height: 19px;
    position: absolute;
}
/* =============================================
		Upcoming Courses Style
============================================= */
.at-upcomingcouses{
	float: left;
    width: 100%;
    padding: 80px 0;
}
.at-upcomingcousesholder{
	clear: both;
	margin: -22px 0;
	overflow: hidden;
}
.at-upcomingcousesholder .at-coursebox{margin: 22px 0;}
.at-upcomingcousesholder .at-coursebtn{margin: -25px 0 30px;}
.at-upcomingcousesholder .at-coursebox:hover .at-readmorebtn{border-bottom: 80px solid #f94a33;}
/* =============================================
		Program Information Style
============================================= */
.at-programinfoarea{
	width: 100%;
	float: left;
}
.at-programinfoarea .at-aboutuscontentbox + .at-aboutuscontentbox{padding: 50px 0;}
.at-programinfoarea .at-ourmissioncontent {padding: 40px 0 0;}
.at-programinfoarea .at-sectionheading h2:after {width: 60px;}
.at-programinfoarea .at-sectionheading h2:before {
    left: 13%;
    bottom: 0;
    content: '';
    height: 5px;
    width: 10px;
    position: absolute;
}
.at-programinfoarea .at-ourmissioncontent .at-description p:nth-child(2){margin: 0;}
.at-candidateprojectholder{
	width: 100%;
	float: left;
	padding: 0 0 75px;
}
.at-candidateproject{
	width: 100%;
    float: left;
    font-size: 14px;
    line-height: 14px;
    list-style: none;
}
.at-candidateproject li{
	width: 100%;
    float: left;
    padding: 16px 0;
    line-height: inherit;
    list-style-type: none;
}
.at-candidateprojectholder .at-candidateproject li{width: 25%;}
.at-candidateprojectholder .at-candidateproject li:first-child{padding: 16px 0;}
.at-candidateproject li:first-child{padding-top: 0;}
.at-candidateproject li:last-child{padding-bottom: 0 !important;}
.at-candidateproject li span{
	color: #303236;
	display: block;
    font-weight: 500;
    position: relative;
    padding: 0 0 0 25px;
}
.at-candidateproject li span:before {
    left: 0;
    top: 4px;
    width: 7px;
    height: 7px;
    content: '';
    position: absolute;
    border-radius: 50%;
    font-family: 'FontAwesome';
}
.at-candidateprojectcontent{
	width: 100%;
	float: left;
}
.at-programinfoheading{
	width: 100%;
	float: left;
	padding: 0 0 22px;
}
.at-programinfoheading h2{
	margin: 0;
	color: #303236;
	font-size: 24px;
	font-weight: 600;
	line-height: 20px;
	text-transform: capitalize;
}
.at-description p{
	font-size: 14px;
	font-weight: 500;
	line-height: 30px;
	color: rgba(48, 50, 54, 0.80);
}
.at-candidateprojectcontent .at-description p{line-height: 22px;}
.at-candidateprojectcontent .at-description p:nth-child(2){margin: 0;}
.at-projectinfotopics{
	width: 100%;
	float: left;
	list-style: none;
}
.at-projectinfotopics li{
	width: 100%;
	float: left;
	padding: 23px 0;
	list-style-type: none;
}
.at-projectinfotopics li i,
.at-projectinfotopics li span{
	display: inline-block;
	vertical-align: middle;
}
.at-projectinfotopics li span{
	padding: 0 0 0 20px;
	font-weight: 500;
	color: rgba(48, 50, 54, 0.80);
}
.at-projectinfotopics li i{
	color: #f95843;
	font-size: 20px;
	font-weight: 600;
}
/* =============================================
		Faculty Detail Style
============================================= */
.at-facultydetail{padding: 80px 0;}
.at-facultydetailholder{
	width: 100%;
    float: left;
    position: relative;
    padding: 0 0 0 315px;
}
.at-facultydetailholder .at-leadershipbox {
    top: 0;
    left: 0;
	margin:  0;
    width: 288px;
    position: absolute;
}
.at-facultydetailholder .at-leaderimg:after{bottom: auto;}
.at-facultydetailholder .at-leadercontent{
	-webkit-box-shadow: 0 0 13px 0 rgba(0,0,0,0.13);
	box-shadow: 0 0 13px 0 rgba(0,0,0,0.13);
}
.at-facultydetailholder .at-leadercontent span{font-weight: 500;}

.at-facultydetailcontent{
	width: 100%;
	float: left;
}
.at-facultydetailcontent ul{
	width: 100%;
	float: left;
	font-size: 14px;
	list-style: none;
	line-height: 14px;
	padding: 0 0 15px;
	border-bottom: 1px solid #e8e8ea;
}
.at-facultydetailcontent ul li{
	width: 100%;
	float: left;
	padding: 10px 0;
	line-height: inherit;
	list-style-type: none;
}
.at-facultydetailcontent ul li:first-child{padding-top: 0;}
.at-facultydetailcontent ul li span:first-child{width: 160px;}
.at-facultydetailcontent ul li span{
	float: left;
	color: #303236;
	font-weight: 500;
}
.at-facultydetailcontent .at-description{padding: 30px 0 0;}
.at-facultydetailcontent .at-description p{font-weight: 400;}
.at-facultydetailcontent .at-description p:last-child{margin: 0;}
/* =============================================
		Excellence Services Style
============================================= */
.at-innerexcellence .at-slidercontent h1{font-style: normal;}
.at-innerexcellence .at-bannertext{
	font-size: 40px;
	font-weight: 500;
	text-transform: uppercase;
}
.at-excellenceservices{
	width: 100%;
	float: left;
	padding: 50px 0 75px;
}
.at-excellenceserviceimg{
	width: 100%;
	float: left;
    margin: 0 0 45px;
}
.at-excellenceservicecontent{
	width: 100%;
	float: left;
	padding: 0 0 95px;
}
.at-excellenceservicecontent .at-description p{margin: 0;}
.at-title,
.at-vision,
.at-mission{
	width: 100%;
	float: left;
	padding: 0 0 50px;
}
.at-excellenceservicecontent .at-programinfoheading h2{text-transform: uppercase;}
.at-vision .at-description,
.at-mission .at-description{padding: 0;}
.at-excellenceservicecontent .at-candidateproject li{padding: 8px 0;}
.at-excellenceservicecontent .at-candidateproject li span:before {
    width: 5px;
    height: 5px;
    background: rgba(108, 109, 111, 0.80);
}
.at-goalarea{
	width: 100%;
	float: left;
	padding: 35px 40px;
	background: rgba(255, 247, 247, 0.80);
}
.at-goalarea h2{
	margin: 0;
	color: #303236;
	font-size: 20px;
	font-weight: 700;
	line-height: 20px;
	padding: 0 0 22px;
}
.at-goalarea .at-description p{margin: 0;}
/* =============================================
		Program Detail Style
============================================= */
.at-programdetail{
	width: 100%;
	float: left;
	padding: 0 0 80px;
}
.at-programdetail .at-aboutuscontentbox{padding: 45px 0;}
.at-levelcertified{
	width: 100%;
	float: left;
}
.at-levelcertifiedheading{
	width: 100%;
	float: left;
	padding: 0 0 45px;
}
.at-levelcertifiedheading h2{
	margin: 0;
	color: #303236;
	font-size: 32px;
	font-weight: 600;
	line-height: 30px;
	text-transform: capitalize;
}
.at-levelcertifiedheading h2 span{
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
	padding: 0 0 25px;
}
.at-levelcertifiedimg{
    width: 65%;
    float: left;
    overflow: hidden;
	margin: 0 30px 0 0;
}
.at-levelcertifiedimg img{
    width: 100%;
    /*height: 100%;*/
    display: block;
}
.at-programdetailcontent{
    overflow: hidden;
    min-height: 413px;
	padding: 40px 25px 25px;
    border: 2px solid #e7e7e7;
}
.at-universityheading{
	width: 100%;
	float: left;
	padding: 0 0 40px;
}
.at-universityheading figure{
	width: 40px;
	float: left;
	margin: 0 20px 0 0;
}
.at-universityheading h3{
	margin: 0;
	float: left;
	color: #303236;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: capitalize;
}
.at-universityheading h3 span{
	display: block;
	padding: 12px 0 0;
}
.at-programdetailcontent ul{
	width: 100%;
	float: left;
	font-size: 14px;
	list-style: none;
	line-height: 14px;
	padding: 0 0 25px;
}
.at-programdetailcontent ul li{
	width: 100%;
	float: left;
	padding: 22px 0;
	line-height: inherit;
	list-style-type: none;
	border-top: 1px solid #d4d4d7;
}
.at-programdetailcontent ul li i,
.at-programdetailcontent ul li span{
	display: inline-block;
	vertical-align: middle;
}
.at-programdetailcontent ul li i{
	font-size: 20px;
	margin: 0 22px 0 0;
}
.at-programdetailcontent ul li i:before{color: #adaeb1;}
.at-countrysportbox{
	width: 100%;
	float: left;
	padding: 25px;
	text-align: center;
	background: #f0f0f1;
}
.at-countrysportbox h4{
	margin: 0;
	float: left;
	color: #303236;
    padding: 0 22px;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	text-transform: capitalize;
}
.at-countrysportbox h4 span{
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	padding: 0 0 12px;
}
.at-levelcertified .at-description{padding: 60px 0 0;}
.at-levelcertified .at-description p{margin: 0;}
.at-achievements{
	width: 100%;
	float: left;
	padding: 60px 0 85px;
}
.at-achievements h3{
	margin: 0;
	color: #303236;
	font-size: 24px;
	font-weight: 600;
	line-height: 20px;
	padding: 0 0 35px;
	text-transform: capitalize;
}
.at-achievements .at-candidateproject li{
	width: 33.33%;
	padding: 0 0 22px;
}
.at-gallerybox{
	width: 100%;
	float: left;
}
.at-gallerybox h3{
	margin: 0;
	color: #303236;
	font-size: 24px;
	font-weight: 600;
	line-height: 20px;
	padding: 0 0 35px;
	text-transform: capitalize;
}
.at-gallerybox .at-gallery {
    padding: 0;
    clear: both;
    overflow: hidden;
    list-style: none;
    margin: -10px -7px;
}
.at-gallerybox .at-gallery li {
	float: left;
	width: 16.66%;
    padding: 10px 7px;
    list-style-type: none;
}
.at-gallerybox .at-gallery li figure {
    margin: 0;
    width: 100%;
    float: left;
}
