@media (max-width:1680px){
	.at-gallerycontent{padding: 185px 60px 35px;}
	.at-homeslider:after{bottom: -142px;}
	.at-homeslider.at-innerbanner:after {bottom: -92px;}
}
@media (max-width:1680px){
	.at-nav{float: left;}
}
@media (max-width:1440px){
	.at-slidercontent{padding: 140px 0 190px;}
	.at-homeslider:after{
		left: 7px;
		bottom: -148px;
	}
	.at-homeslider .owl-nav button.owl-next,
	.at-homeslider .owl-nav button.owl-prev{top: 70%;}
	.at-gallerycontent{padding: 60px;}
	.at-homeslider.at-innerbanner:after {bottom: -98px;}
}
@media (max-width:1400px){
		.at-innerheader .at-nav {
		width: auto;
		float: right;
		max-width: none;
	}
	.at-nav {width: auto;}
	.at-logo a{
		width: 95px;
		height: 95px;
	}
	.navbar-toggle{
		color:#fff;
		float:right;
		display:block;
		margin: 7px 25px 0 0;
	}
	.navbar-toggle .icon-bar{background:#fff;}
	.navbar-collapse.collapse{
		display: none !important;
		height: auto !important;
		overflow: visible !important;
		visibility: visible !important;
	}
	.at-dropdowarrow{
		color: #fff;
		display: block;
		background: #f94a33;
		-moz-transform: skew(0deg) ;
		-webkit-transform: skew(0deg) !important;
		-o-transform: skew(0deg) !important;
		-ms-transform: skew(0deg) !important;
		transform: skew(0deg) !important;
	}
	.at-navigation{
		right: 0;
		top: 80px;
		background: #fff;
		position: absolute;
	}
	.at-closebtn{
		float: right;
		padding: 15px;
		display: block;
		font-size: 25px;
	}
	.navbar-collapse ul{
		width:100%;
		float: right;
		background: #fff;
		text-align: left;
	}
	.at-navigation > ul > li {
		padding: 0;
		width: 100%;
		float: left;
		line-height: 40px;
		-moz-transform: skew( 0deg);
		-webkit-transform: skew( 0deg);
		-o-transform: skew( 0deg);
		-ms-transform: skew( 0deg);
		transform: skew( 0deg);
	}
	.at-navigation > ul > li + li {border-top: 1px solid #eaeaea;}
	.at-navigation ul li a{
		display: block;
		font-size: 16px;
		background: #fff;
		font-weight: 500;
		line-height: 40px;
		padding: 8px 20px;
	}
	.navbar-collapse {
		float:right;
		border-top: 0;
		box-shadow: none;
		overflow-x: visible;
	}
	.navbar-collapse.collapse.in {display:block !important;}
	.at-navigation > ul > li > a{color: #f94a33;}
	.at-navigation > ul > li.active > a,
	.at-navigation > ul > li:hover > a{
		color: #fff;
		background: #f94a33;
	}
	.at-navigation > ul > li.active .at-dropdowarrow,
	.at-navigation > ul > li:hover > .at-dropdowarrow{
		color: #f94a33;
		background: #fff;
	}
	.at-navigation > ul > li > a > span{
		-moz-transform: skew(0deg);
		-webkit-transform: skew(0deg);
		-o-transform: skew(0deg);
		-ms-transform: skew(0deg);
		transform: skew(0deg);
	}
	.sub-menu {
		opacity: 1;
		clear: both;
		float: left;
		display: none;
		visibility: visible;
		position: static;
		width: 100% !important;
		box-shadow: none;
		-moz-transform: skew(0deg);
		-webkit-transform: skew(0deg);
		-o-transform: skew(0deg);
		-ms-transform: skew(0deg);
		transform: skew(0deg);
	}
	.at-navigation ul li {
		width: 100%;
		float: left;
	}
	.at-navigation .sub-menu li a {padding: 10px 30px;}
	.at-btn.at-contactbtn{
		float: right;
		position: static;
	}
	.at-navigation ul.sub-menu li a:hover{color: #fff !important}
}
@media (max-width:1366px){
	.at-slidercontent h1{
		font-size: 70px;
		line-height: 65px;
	}
	.at-homeslider:after {bottom: -161px;}
	.at-counter{margin: -110px 0 0;}
	.at-homeslider.at-innerbanner:after {bottom: -100px;}
}
@media (max-width:1280px){
	.at-slidercontent{padding: 120px 0 155px;}
	.at-slidercontent h1 {
		font-size: 60px;
		line-height: 55px;
	}
	.at-counter {margin: -100px 0 0;}
	.at-homeslider:after {bottom: -165px;}
	.at-gallerycontent {padding: 42px 60px;}
	.at-gallerycontent h3 {
		font-size: 30px;
		margin: 0 0 20px;
		line-height: 40px;
	}
	.at-homeslider.at-innerbanner:after {bottom: -105px;}
}
@media (max-width:1200px){
	.at-counter {margin: -80px 0 0;}
	.at-gallerycontent {padding: 25px 60px;}
}
@media (max-width:1199px){
	.at-slidercontent {padding: 120px 0 66px;}
	.at-homeslider:after {
		width: 0;
		height: 0;
		background: none;
	}
	.at-slidercontent h1 {
		font-size: 45px;
		margin: 0 0 15px;
		line-height: 40px;
	}
	.at-bannertext{
		font-size: 30px;
		line-height: 35px;
		margin-bottom: 30px;
	}
	.at-homeslider .owl-nav button.owl-prev{
		top: 78%;
		right: 90px;
	}
	.at-homeslider .owl-nav button.owl-next{
		top: 78%;
		right: 40px;
	}
	.at-counter {margin: -35px 0 0;}
	.at-counterbox{padding: 35px 0;}
	.at-counterbox strong{
		font-size: 25px;
		line-height: 28px;
	}
	.at-ourmissioncontent{padding: 70px 0 0;}
	.at-sectionheading{margin-bottom: 30px;}
	.at-sectionheading h2{
		font-size: 30px;
		line-height: 25px;
	}
	.at-ourmission-img{top: 100px;}
	.at-courseimg{height: 100%;}
	.at-gallerycontentholder{padding: 0;}
	.at-gallerycontent {
		float: left;
		width: 100%;
		max-width: 100%;
		position: static;
		padding: 185px 60px 100px;
	}
	.at-tooltip{
		top: 45px;
		left: 305px;
	}
	.at-tooltip2 {
		top: 145px;
		left: 318px;
	}
	.at-tooltip3 {
		top: 165px;
		left: 172px;
	}
	.at-tooltip4 {
		top: 185px;
		left: 245px;
	}
	.at-tooltip5 {
		top: 200px;
		left: 225px;
	}
	.at-tooltip6 {
		top: 290px;
		left: 105px;
	}
	.at-courses{padding: 60px 0;}
	.at-coursesarea .at-coursecontent{padding: 17px 30px;}
	.at-enrollbtn {
		right: 25px;
		bottom: 20px;
	}
	.at-navigationarea {padding: 20px;}
	.at-banner-area .at-slidercontent{padding: 150px 0 100px;}
	.at-applyonline .at-description p {font-size: 18px;}
	.at-programinfoarea .at-sectionheading h2:before {left: 16%;}
	.at-courseholder .at-courseimg {height: 130px;}
	.at-courseholder .at-coursecontent {
		min-height: 160px;
		padding: 30px 20px;
	}
	.at-countrysportbox h4 {
		padding: 0 10px;
		font-size: 16px;
	}
	.at-levelcertifiedimg img {height: 390px;}
	.at-programdetailcontent {
		padding: 25px;
		min-height: auto;
	}
	.at-achievements .at-candidateproject{font-size: 13px;}
}
@media (max-width:991px){
	.at-counter {margin: 0;}
	.at-coursebox{
		min-height: 445px;
		margin-bottom: 30px;
	}
	.at-map{padding: 30px 0;}
	.border-left{border: 0;}
	.at-tooltip {
		top: 59px;
		left: 345px;
	}
	.at-tooltip2 {
		top: 180px;
		left: 360px;
	}
	.at-tooltip3 {
		top: 206px;
		left: 178px;
	}
	.at-tooltip4 {
		top: 236px;
		left: 267px;
	}
	.at-tooltip5 {
		top: 248px;
		left: 244px;
	}
	.at-tooltip6 {
		top: 370px;
		left: 88px;
	}
	.at-col{margin: 0 0 40px;}
	.at-btn,
	.at-btn.at-joinbtn{
		height: 45px;
		font-size: 16px;
		padding: 0 30px;
		line-height: 45px;
	}
	.at-sliderimage > img{height: 500px;}
	.at-slidercontent {padding: 120px 0 95px;}
	.at-fullgallery .at-galleryimages{margin: 0;}
	.at-fullgallery .at-galleryimagebox {padding: 10px;}
	.at-coursesarea .at-coursebox{min-height: 100%;}
	.at-coursesarea .at-courseimg{width: 100%;}
	.at-coursesarea .at-coursecontent{
		width: 100%;
		padding: 30px;
	}
	.at-aboutuscontentbox .at-ourmission-img img.at-overlay {margin: 0;}
	.at-leadershipbox.at-margintop{margin: 20px 0;}
	.at-leadershipbox{margin: 20px 0;}
	.at-applyonline .at-description p {
		font-size: 15px;
		line-height: 30px;
	}
	.at-programinfoarea .at-sectionheading h2:before {left: 10%;}
	.at-projectinfotopics li {padding: 15px 0;}
	.at-programinfoarea .at-ourmissioncontent {padding: 0 0 40px;}
	.at-courseholder .at-coursebox{
		padding: 0;
		min-height: 300px;
	}
	.at-levelcertifiedimg{
		width: 100%;
		margin: 0 0 30px;
	}
	.at-levelcertifiedimg img{
		width: 100%;
		height: auto;
	}
	.at-countrysportbox h4 {
		width: 50%;
		padding: 0;
	}
	.at-achievements .at-candidateproject li{width: 50%;}
	.at-gallerybox .at-gallery li{width: 25%;}
}
@media (max-width:768px){
	.at-formapplyonline {padding: 60px 0 0;}
	.at-facultydetailholder{padding: 0;}
	.at-facultydetailholder .at-leadershipbox {
		padding: 0;
		float: none;
		position: static;
		overflow: hidden;
		margin: 0 auto 30px;
	}
	.at-levelcertifiedheading{padding: 0 0 30px;}
	.at-levelcertifiedheading h2 {
		font-size: 24px;
		line-height: 24px;
	}
	.at-levelcertifiedheading h2 span {padding: 0 0 15px;}
}
@media (max-width:767px){
	.at-counters{padding: 0 100px;}
	.at-counterbox{margin: 20px 0;}
	.at-slidercontent {padding: 120px 0 90px;}
	.at-homeslider .owl-nav button.owl-next,
	.at-homeslider .owl-nav button.owl-prev{
		height: 35px;
		font-size: 25px;
		line-height: 35px;
	}
	.at-ourmission-img{position: static;}
	.at-coursebox{padding: 0 100px;}
	.nav-tabs.at-navtabs li a{padding: 15px 30px;}
	.at-galleryimagebox{width: 50%;}
	.at-coursesarea .at-coursebox{padding: 0;}
	.at-leadershipbox {padding: 0 160px;}
}
@media (max-width:640px){
	.at-programinfoarea .at-sectionheading h2:before {left: 12%;}
	.at-sectionheading h2 {font-size: 24px;}
	.at-programinfoheading{padding: 0 0 15px;}
	.at-programinfoheading h2 {
		font-size: 20px;
		line-height: 24px;
	}
	.at-candidateprojectholder{padding: 0 0 40px;}
	.at-candidateprojectholder .at-candidateproject li {width: 50%;}
	.at-levelcertified .at-description{padding: 40px 0 0;}
	.at-achievements{padding: 50px 0;}
	.at-achievements .at-candidateproject li span{padding: 0 0 0 20px;}
}
@media (max-width:639px){
	.at-counters {padding: 0 50px;}
	.at-coursebox {padding: 0 50px;}
	.at-gallerycontent{padding: 165px 60px 60px;}
	.at-tooltip {
		top: 55px;
		left: 330px;
	}
	.at-tooltip2 {
		top: 172px;
		left: 340px;
	}
	.at-tooltip3 {
		top: 198px;
		left: 168px;
	}
	.at-tooltip4 {
		top: 226px;
		left: 256px;
	}
	.at-tooltip5 {
		top: 237px;
		left: 232px;
	}
	.at-tooltip6 {
		top: 354px;
		left: 83px;
	}
	.at-leadershipbox {padding: 0 130px;}
	.at-goalarea{padding: 20px;}
	.at-goalarea h2{padding: 0 0 15px;}
	.at-excellenceservicecontent{padding: 0 0 60px;}
	.at-title, 
	.at-vision, 
	.at-mission{padding: 0 0 30px;}
	.at-excellenceserviceimg {margin: 0 0 30px;}
}
@media (max-width:567px){
	.at-navigationarea {padding: 20px 20px;}
	.at-contantbox{padding: 0;}
	.at-sliderimage > img {height: 390px;}
	.at-slidercontent {padding: 120px 0 50px;}
	.at-slidercontent h1{
		font-size: 30px;
		line-height: 33px;
	}
	.at-bannertext {
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 30px;
	}
	.at-galleryimagebox{width: 100%;}
	.at-courseinfo li span{width: 25%;}
	.at-coursesarea .at-coursecontent{padding: 30px 20px;}
	.at-leadershipbox {padding: 0 80px;}
	.at-courseholder > [class^="col-"],
	.at-courseholder > [class*="col-"]{width: 100%;}
	.at-courseholder .at-coursebox {min-height: 280px;}
	.at-courseholder .at-coursecontent {min-height: 150px;}
	.at-mainfooter{padding: 70px 0 50px;}
	.at-innerexcellence .at-bannertext {
		margin: 0;
		font-size: 20px;
	}
	.at-achievements .at-candidateproject li{width: 100%;}
}
@media (max-width:480px){
	.at-applyonline .at-description p {
		font-size: 14px;
		line-height: 26px;
	}
	.at-gallerybox .at-gallery li{width: 33.33%;}
}
@media (max-width:479px){
	.at-navigation{top: 65px;}
	.at-slidercontent {padding: 100px 0 50px;}
	.at-homeslider .owl-nav button.owl-next,
	.at-homeslider .owl-nav button.owl-prev{display: none;}
	.at-counters{padding: 0;}
	.at-ourmission{padding: 20px 0 50px;}
	.at-sectionheading {margin-bottom: 20px;}
	.at-sectionheading h2 {
		font-size: 22px;
		line-height: 25px;
		padding: 0 0 20px;
	}
	.at-courses{padding: 50px 0;}
	.at-coursebox{
		padding: 0;
		height: 100%;
	}
	.nav-tabs.at-navtabs li a {
		font-size: 12px;
		margin-right: 3px;
		padding: 10px 20px;
	}
	.at-gallerycontent h3 {
		font-size: 20px;
		margin: 0 0 15px;
		line-height: 26px;
	}
	.at-gallerycontent {padding: 50px 20px 50px;}
	.at-galleryimagebox{width: 100%;}
	.at-col .at-sectionheading h2{
		font-size: 16px;
		line-height: 19px;
	}
	.at-tooltip{
		width: 20px;
		height: 20px;
		line-height: 16px;
	}
	.at-tooltip i{font-size: 8px;}
	.at-tooltip {
		top: 47px;
		left: 208px;
	}
	.at-tooltip2 {
		top: 120px;
		left: 217px;
	}
	.at-tooltip3 {
		top: 138px;
		left: 107px;
	}
	.at-tooltip4 {
		top: 154px;
		left: 162px;
	}
	.at-tooltip5 {
		top: 162px;
		left: 148px;
	}
	.at-tooltip6 {
		top: 235px;
		left: 53px;
	}
	.at-coursehead{margin-bottom: 10px;}
	.at-coursehead h2{
		display: block;
		font-size: 20px;
		line-height: 23px;
		margin-bottom: 15px;
	}
	.at-coursehead span{
		float: left;
		display: block;
		font-size: 20px;
		line-height: 23px;
	}
	.at-courseinfo li{padding: 8px 0;}
	.at-courseinfo li span{
		width: 100%;
		margin: 0 0 5px;
	}
	.at-enrollbtn{
		position: static;
		margin-top: 20px;
	}
	.at-aboutuscontentbox .at-ourmission-img img.at-overlay {margin: -150px 0 0 10px;}
	.at-leadershipbox {padding: 0;}
	.at-banner-area .at-slidercontent {padding: 120px 0 60px;}
	.at-btn.at-contactbtn{display: none;}
	.at-navigationarea .at-logo a {
		width: 65px;
		height: 65px;
	}
	.at-breadcrumb{
		text-align: center;
		line-height: inherit;
	}
	.at-breadcrumb li:after{display: none;}
	.at-programinfoarea .at-projectinfotopics{font-size: 13px;}
	.at-projectinfotopics li span{padding: 0 0 0 15px;}
	.at-facultydetailcontent ul li span:first-child {width: 90px;}
	.at-facultydetail {padding: 60px 0;}
}
@media (max-width:320px){}