*:after,
*:before,
p a,
a,
.at-socialicons li a,
.at-roundicontext,
.at-roundicontext .at-usericonholder,
.sub-menu,
.mega-menu,
.at-btn,
.at-readmorebtn,
.nav-tabs li a,
.at-linklist li a,
.at-navigation ul li .at-dropdowarrow,
.at-navigation>ul>li .sub-menu



















{
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}